

    <!--Toast for adding categories-->
    <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
        <!-- Position it: -->
        <!-- - `.toast-container` for spacing between toasts -->
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
          <!-- Then put toasts within -->
        </div>
    </div>


    <!-- General Modal for Input and Confirmations -->
    <!--later make it also partial-->
    <div class="modal fade" id="generalModal" tabindex="-1" aria-labelledby="generalModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="generalModalLabel">Category Action</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <input type="text" id="modalInput" class="form-control" style="display: none;">
            <p id="modalMessage"></p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" id="modalActionBtn">Confirm</button>
            </div>
        </div>
        </div>
    </div>

    