<div class="container mt-5 border p-3 shadow ">
    <div class="row align-items-center">
        <div class="col-md-3">
            <label for="productName" class="form-label">Product Name</label>
            <input type="text" class="form-control" id="productName" placeholder="Product name">
        </div>
        <div class="col-md-3">
            <label for="productCategory" class="form-label">Category</label>
            <select class="form-select" id="productCategory">
                <option value="">None</option>
                <!-- Dynamically add categories here -->
                <% categories.forEach(category => { %>
                    <option value="<%= category.id %>"><%= category.name %></option>
                <% }); %>
            </select>
        </div>
        <div class="col-md-3">
            <label for="productBrand" class="form-label">Brand</label>
            <select class="form-select" id="productBrand">
                <option value="">None</option>
                <!-- Dynamically add brands here -->
                <% brands.forEach(brand => { %>
                    <option value="<%= brand.id %>"><%= brand.name %></option>
                <% }); %>
            </select>
        </div>
        <div class="col-md-3 d-flex justify-content-end">
            <button class="btn btn-primary me-2 mt-4" id="searchButton"> <i class="bi bi-search"></i> Search</button>
            <button class="btn btn-warning me-2 mt-4" id="clearButton"><i class="bi bi-eraser-fill"></i>Clear</button>
            
        </div>
    </div>
</div>

